.header {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 20px;
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


  .header h1{
    font-weight: $heavy;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 96px;
    text-shadow:($dark 0 0 20px);
  }
  .header p{
    text-align: center;
    font-size: 30px;
    text-shadow:($dark 0 0 20px);
    font-family: $fontfamily;
}

  @media(max-width:1024px){
    .header {
      padding:30px;
      height:600px;
    }
  }
