@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900');

//color variables
$purple: #480050;
$gold:#F7E400;
$blue: #4ABDAC;
$orange: #FC4A1A;
$yellow: #F7B733;
$sky: #CAEBF2;
$red: #984B43;
$dark: #000000;





//Font variables
$fontfamily: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;
